name: Production Deployment

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy with Docker Compose
        run: |
          # Copy the persistent .env into the build folder
          cp ~/teqwa-project/.env ./.env
          
          # Build and start
          docker compose up -d --build
          
          # Run Django maintenance
          docker compose exec -T backend python manage.py migrate
          docker compose exec -T backend python manage.py collectstatic --noinput
